@use '../variables' as *;
@use '../mixins' as *;

.mapa-camas {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cama {
  @include tarjeta;
  position: relative;
  border-left: 5px solid $color-primario;

  &--libre {
    border-left-color: $color-exito;
  }

  &--ocupada {
    border-left-color: $color-peligro;
  }

  &--mantenimiento {
    border-left-color: $color-alerta;
  }

  .cama__numero {
    font-weight: 700;
    margin-bottom: 6px;
    color: $color-texto;
  }

  .cama__info {
    font-size: 0.9rem;
    color: $color-texto-secundario;
  }
}
