@use '../variables' as *;
@use '../mixins' as *;

.medicacion table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;

  th {
    text-align: left;
    padding: 12px;
    background-color: $color-fondo-login;
    border-bottom: 2px solid $color-borde;
    font-weight: 600;
    color: $color-texto;
  }

  td {
    padding: 12px;
    border-bottom: 1px solid $color-borde;
    font-size: 0.95rem;
  }

  .hora {
    font-weight: 600;
    color: $color-primario;
  }

  .dosis {
    font-weight: 600;
  }
}
