@use 'variables' as *;

.nav-bar {
  background-color: white;
  box-shadow: $sombra-md;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-container {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  font-size: 1.25rem;
  font-weight: 700;
  color: $color-primario;
  text-decoration: none;
}

.nav-links-grupo {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: $color-texto-secundario;
  padding-bottom: 4px;
  text-decoration: none;

  &:hover {
    color: $color-primario;
  }
}

.nav-activo {
  color: $color-texto;
  border-bottom: 2px solid lighten($color-primario, 10%);
  font-weight: 600;
}
