@use 'variables' as *;

body {
  font-family: $fuente;
  background: $color-fondo;
  margin: 0;
  padding: 0;
  color: $color-texto;
}

.header {
  background: $color-primario;
  color: white;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 2rem;
}
